<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>Document</title>
</head>
<body>
Hello, {{name}}!

{{#if auth}}
    <br /><br />You are logged-in as <b>{{username}}</b>!<br />
    <a href="/logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Logout</a>
    <form id="logout-form" action="/logout" method="POST" style="display: none;"></form>
{{else}}
    <br /><br />You are not logged-in!<br />
    <a href="/login">Log-in</a>
{{/if}}
<div id="app"></div>
<script src="/assets/js/manifest.js"></script>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>

