@import "~flag-icons/sass/flag-icons";

.gridjs-head button,
.gridjs-footer button {
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.gridjs-head {
  margin-bottom: 5px;
  padding: 5px 1px;
}

.gridjs-head::after {
  content: "";
  display: block;
  clear: both;
}

.gridjs-head:empty {
  padding: 0;
  border: none;
}

.gridjs-container {
  overflow: hidden;
  display: inline-block;
  padding: 2px;
  color: #000;
  position: relative;
  z-index: 0;
}

.gridjs-footer {
  display: block;
  position: relative;
  z-index: 0;
  padding: 12px 24px;
  border-top: 1px solid #e5e7eb;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  border-bottom-width: ipx;
  border-color: #e5e7eb;
  border-bottom: none;
  border: 0;
}

.gridjs-footer:empty {
  padding: 0;
  border: none;
}

input.gridjs-input {
  outline: none;
  background-color: #fff;
  border: 1px solid #d2d6dc;
  border-radius: 5px;
  padding: 10px 13px;
  font-size: 14px;
  line-height: 1.45;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input.gridjs-input:focus {
  box-shadow: 0 0 0 3px rgba(149, 189, 243, 0.5);
  border-color: #9bc2f7;
}

.gridjs-pagination {
  color: #3d4044;
}

.gridjs-pagination::after {
  content: "";
  display: block;
  clear: both;
}

.gridjs-pagination .gridjs-summary {
  float: left;
  margin-top: 5px;
}

.gridjs-pagination .gridjs-pages {
  float: right;
}

.gridjs-pagination .gridjs-pages button {
  padding: 0.25rem 0.75rem;
  border: 0;
  background-color: transparent;
  border-right: none;
  outline: none;
  margin-right: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}

.gridjs-pagination .gridjs-pages button:focus {
  box-shadow: none;
}

.gridjs-pagination .gridjs-pages button:hover {
  background-color: #f7f7f7;
  color: #3c4257;
  outline: none;
}

.gridjs-pagination .gridjs-pages button:disabled,
.gridjs-pagination .gridjs-pages button[disabled],
.gridjs-pagination .gridjs-pages button:hover:disabled {
  cursor: default;
  background-color: transparent;
  color: #6b7280;
}

.gridjs-pagination .gridjs-pages button.gridjs-spread {
  cursor: default;
  box-shadow: none;
  background-color: transparent;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage {
  background-color: #48bb78;
  color: white;
  border-radius: 0.25rem;
  font-weight: normal;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage:hover {
  background-color: rgba(56, 161, 105, 1);
  border-radius: 0.25rem;
  font-weight: normal;
  color: white;
}

.gridjs-pagination .gridjs-pages button:hover {
  background-color: #48bb78;
  border-radius: 0.25rem;
  font-weight: normal;
  color: white;
}

.gridjs-pagination .gridjs-pages button:last-child {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  border-right: 1px solid #d2d6dc;
  font-size: 13px;
  border: 0;
}

.gridjs-pagination .gridjs-pages button:first-child {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  font-size: 13px;
  border: 0;
}

button.gridjs-sort {
  float: right;
  height: 24px;
  width: 16px;
  background-repeat: no-repeat;
}

button.gridjs-sort-neutral {
  opacity: 0.3;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAr0lEQVQ4T6WTUQ5BQQxFz1uG4IdnH2xHgo3w/xKLYSOEiMQqkCatSE2nwfy297Rz70zDn6dJ9APgAVyjvhpgAuyAOzADDiVIBDBxX0WXCFICeLENLkI8oAX2gE32WwtkChyt4AFzYJkYuwG2EeDrULMYU6AHLIBVoloDXXSFkZo4DCBnNfFU82CsD8hDPsQCiTzwkKK4BpCaQeQpS/avtd+vl6XQ0890++UzpRFKwxNZzCARuMPL3wAAAABJRU5ErkJggg==");
  background-position-y: center;
}

button.gridjs-sort-asc {
  padding-bottom: 6px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAaUlEQVQ4T+3SsQ1AUBQF0GMfQ5hEoddILKHR6VT2MIZtJBoSkf/9iE68+t1T3NzMy8te5v2AZAc1Vgyxsu9KbNHtwQZ9CIkB5/CRCyIhIBSOIlegwpgYV4np+LkCOYoEMGOJAY+X/YEpbzl7DBHJyXtQAAAAAElFTkSuQmCC");
  background-position-y: top;
}

button.gridjs-sort-desc {
  padding-top: 6px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAc0lEQVQ4T2NkoBAwUqifYRgaIMPAwGBAIFzOMzAwPIWpQQ+DYgYGhh4CBuQzMDBMwmUAEwMDw1QGBoYMHIaA5HIZGBj+4zIAJI7LEAzNIMW4ohHdEKya8RkAc0kvAwPDHwYGhjJkZyN7bxgmJJLzFsVhAAAclRAR/sEwnwAAAABJRU5ErkJggg==");
  background-position-y: bottom;
}

button.gridjs-sort:focus {
  outline: none;
}

table.gridjs-table {
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;
  display: table;
  margin: 0;
  padding: 0;
  overflow: auto;
  table-layout: unset;
}

.gridjs-tbody {
  background-color: #fff;
}

td.gridjs-td {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  box-sizing: content-box;
}

td.gridjs-td:first-child {
  border-left: none;
}

td.gridjs-td:last-child {
  border-right: none;
}

td.gridjs-message {
  text-align: center;
}

th.gridjs-th {
  color: hsl(220, 95%, 8%);
  background-color: #f9fafb;
  border: none;
  padding: 0.5rem 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  white-space: nowrap;
  outline: none;
}

th.gridjs-th-sort {
  cursor: pointer;
}

th.gridjs-th-sort:hover {
  background-color: transparent;
}

th.gridjs-th-sort:focus {
  background-color: transparent;
}

th.gridjs-th-fixed {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0 1px 0 0 #e5e7eb;
}

@supports (-moz-appearance: none) {
  th.gridjs-th-fixed {
    box-shadow: 0 0 0 1px #e5e7eb;
  }
}

th.gridjs-th:first-child {
  border-left: none;
}

th.gridjs-th:last-child {
  border-right: none;
}

.gridjs-tr {
  border: none;
  border-bottom: 1px solid #e2e8f0;
}

.gridjs-tr:last-child td {
  border-bottom: 0;
}

.gridjs *,
.gridjs :after,
.gridjs :before {
  box-sizing: border-box;
}

.gridjs-wrapper {
  position: relative;
  z-index: 1;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box-shadow: none; */
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  border-radius: 0.125rem;
  display: block;
  border-top-width: 1px;
  border-color: #e5e7eb;
  border-top: none;
}

.gridjs-wrapper:last-of-type {
  border-radius: 0;
  border-bottom-width: 1px;
}

.gridjs-search {
  float: left;
}

.gridjs-search-input {
  width: 250px;
}

.gridjs-loading-bar {
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.5;
}

.gridjs-loading-bar::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
                  90deg,
                  rgba(204, 204, 204, 0) 0,
                  rgba(204, 204, 204, 0.2) 20%,
                  rgba(204, 204, 204, 0.5) 60%,
                  rgba(204, 204, 204, 0)
  );
  animation: shimmer 2s infinite;
  content: "";
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
