<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/assets/css/vendor.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <script src="/assets/js/manifest.js"></script>
    <script src="/assets/js/vendor.js"></script>
    <script src="/assets/js/dashboard.js"></script>
    <script src="/assets/js/app.js"></script>
</body>

</html>