<!---Global Footer-->
<footer class="text-black sm:content-center border-t border-gray-300">
    <div class="bg-white">
        <div class="container text-center lg:px-5 lg:py-6 mx-auto flex items-center sm:flex-row flex-col mb-2">
            <a href="https://verify.rest/login"
               class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <img src="/img/logo.svg" style="height: 40px" alt=""> &nbsp;
            </a>
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center hidden md:block">
                <a class="mr-5 hover:text-indigo font-mono" href="/about-us">About Us</a>
                <a href="/terms" class="mr-5 hover:text-indigo font-mono">Terms</a>
                <a href="/privacy-policy" class="mr-5 hover:text-indigo font-mono">Privacy Policy</a>
                <a href="/disclaimer" class="mr-5 hover:text-indigo font-mono">Disclaimer</a>
            </nav>
            <span
                    class="text-sm text-gray-600 font-bold inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                    © Copyright 2020
                </span>
        </div>
    </div>
</footer>
<!--- End Global Footer-->
